<!doctype html>
<html>
<head>
  <meta charset="utf-8">
  <title>Face-Off / Play-Pass</title>
  <link rel="stylesheet" href="{{ url_for('static', filename='styles.css') }}">
  <style>
    h1 { font-size: 2.5em; }
  </style>
</head>
<body>
  <h1>FUED FURY - FACE-OFF / PLAY-PASS</h1>
  <br>
  <br>
  <br>
  <br>
  
  {% if error %}
    <p style="color:red;">{{ error }}</p>
  {% endif %}
  <form method="post" action="{{ url_for('faceoff') }}">
    <h2>Select Face-Off Winner:</h2>
    <input type="radio" name="faceoff_winner" value="1" id="team1">
    <label for="team1">{{ team1 }}</label>
    <input type="radio" name="faceoff_winner" value="2" id="team2">
    <label for="team2">{{ team2 }}</label>
    <h2>Play or Pass?</h2>
    <input type="radio" name="playpass" value="play" id="play">
    <label for="play">Play</label>
    <input type="radio" name="playpass" value="pass" id="pass">
    <label for="pass">Pass</label>
    <br>
    <br>
    <br>
    <button class="button-55" type="submit">Confirm</button>
  </form>
</body>
</html>
